.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    padding: 40px;
    font-size: 25px;
  }

  .iconbutton{
    background-color: rgba(142, 240, 255, 0);
  }
  
  .iconbutton:hover{
    background-color: rgba(0, 255, 255, 0.24);
   }